<div class="container mt-5">
    <a type="button" class="btn btn-primary btn-lg" href="/admin/category/add">Add New Category</a>
    <h1>List category</h1>

    <table class="table table-dark table-hover">
        <tr>
            <th>Category Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        
            <% 
                categories.map(category=>{%>
                    <tr>
                    <td><%= category.name %></td>
                    <td><a href="/admin/category/edit/<%= category._id %>"  class="btn btn-warning">Edit</a></td>
                    
                    <td>
                        <form action="/admin/category/<%= category._id %>?_method=DELETE" method="POST" >
                            <input type="submit" value="Delete" class="btn btn-danger" >
                            </form>
                    </td>
                </tr>
                <%})
            %>
            
    </table>
</div>