
	<footer>	
		<div id="foot">
			<div class="foot-logo">
			</div>
			<div class="footer container">
				<div class="foot-wrap">
					<div class="contain">
						<h2>MOCHI</h2>
						<p style="color: #576574;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
						</p>
						
					</div>
					<div class="foot-form-wrap">
						<h4>ĐỂ LẠI THÔNG TIN VÀ NHẬN ƯU ĐÃI</h4>
						<p style="color: #576574;">Chương trình chỉ áp dụng với những mochi-er ghé shop lần đầu tiên.</p>						
							<input type="email" name="email" placeholder="mochi@gmail.com">
							<input type="submit" name="submit" value="Submit">
						
					</div>
				</div>
				
				<div class="row">
					<div class="col col-md-2">
						<h2>FOLLOW</h2>
						<ul>
						<!-- href="#" => home -->
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>    Facebook</a></li>
							<li><a href="#"><i class="fa fa-youtube" aria-hidden="true">   Youtube</i></a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>   Instagram</a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>   Twitter</a></li>
						</ul>
					</div>
					
					

					<div class="col col-md-5">
						<h2>CONTACT</h2>
						<div class="address">
							<ul>
								<!-- href="#" => home -->
								<li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>Trường Đại học Công nghệ Thông tin</a></li>
								<li><a href="#"><i class="fa fa-location-arrow" aria-hidden="true"></i>Khu phố 6, phường Linh Trung, thành phố Thủ Đức</a></li>
								<li><a href="#"><i class="fa fa-phone-square" aria-hidden="true"></i>123456789</a></li>
								<li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>linhdatran3@gmail.com</a></li>
							</ul>
						</div>
						
					</div>
					<div class="col col-md-5">
						<img src="../img/main/bo-cong-thuong.png" alt="">
						<img src="../img/main/payment-item.png" alt="" class="payment" >
						
					</div>
					
					
				</div>
			</div>
			<div class="foot">
				<p>@Bản quyền thuộc về "Mắc mệt à"</p>
			</div>
		</div>
		</div>
	</footer>