<header >
    <!-- banner: carousel -->
    <div id="banner" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
      
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/img/home/banner4.jpg" alt="Los Angeles" >
            </div>
            <div class="carousel-item">
              <img src="/img/home/banner6.jpg" alt="Chicago" >
            </div>
            
            <div class="carousel-item">
              <img src="/img/home/banner5.jpg" alt="New York" >
            </div>
        </div>
      
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#banner" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#banner" data-slide="next">
        <span class="carousel-control-next-icon"></span>
          </a>
    </div>
    
</header>
<main>
    <section>
        <div id="category" class="container">
            <div class="wrap four-icon">
                <div class="row">
                    <div class="col-md-3 col-sm-2 col-6 col-xs-5">
                        <div class="item-icon">
                            <!-- -->
                            <a title="Brand Image" href="./shop-homepage">
                                <img src="/img/home/combo1.png">
                            </a>
                        </div>
                    </div>
        
                    <div class="col-md-3 col-sm-2 col-6 col-xs-7">
                        <div class="item-icon">
                            <!-- product/category -->
                            <a title="Brand Image" href="./shop-homepage/Đồ thủ công">
                                <img src="/img/home/combo2.png" alt="Brand Image">
                            </a>
                            
                        </div>
                    </div>
            
                    <div class="col-md-3 col-sm-2 col-6 col-xs-5">
                        <div class="item-icon">
                            <!-- product/category -->
                            <a title="Brand Image" href="./shop-homepage/Túi" >
                                <img src="/img/home/combo3.png" alt="Brand Image">
                            </a>
                            
                        </div>
                    </div>
            
                    <div class="col-md-3 col-sm-2 col-6 col-xs-7">
                        <div class="item-icon">
                            <!-- product/category -->
                            <a title="Brand Image" href="./shop-homepage/Bút">
                                <img src="/img/home/combo4.png" alt="Brand Image">
                            </a>
                           
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

    <section>
        <div id="flashSale">
            <div class="flash-sale-frist-item container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="flash-sale-white-bg">
                            <div class="flash-sale-time">
                                <!-- <div class="time" id="clock">
                                    <span id="Hour">00</span>
                                    <p>:</p>
                                    <span id="Min">00</span>
                                    <p>:</p>
                                    <span id="Sec">00</span>		
                                </div> -->
                            </div>
                            
                            <div class="flash-sale-logo">
                                <img src="/img/home/flash-sale-logo1.png">
                                <h1>SIÊU ƯU ĐÃI TỦ STICKER</h1>
                                <a href="shop-homepage"><button>BUY NOW</button></a>
                                
                            </div>
                            <a href="shop-homepage"><img src="/img/home/fl-1.png" alt=""></a>
                            
                            <!-- flash-sale khong doi img -->
                            <!--  -->
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="temp"><div id="dong_ho">
                            <h2></h2>
                            <div id="thoi_gian">
                                <div>
                                    <span id="gio">00</span><span>Giờ</span>
                                </div>
                                <div>
                                      <span id="phut">00</span><span>Phút</span>
                                </div>
                                <div>
                                    <span id="giay">00</span><span>Giây</span>
                                </div>
                            </div>
                        </div></div>
                        <a href="shop-homepage"><img src="/img/home/fl-2.png"></a>
                    </div>	
                </div>
            </div>
        </div>
    </section>

    <section>
        <div id="newProduct">
            <h2 style="font-family: 'Otomanopee One', sans-serif; color: #3e3737; ">NEW PRODUCTS</h2>
            <div class="new-product container">

                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                              <div class="product">
                                  <div class="themnail">
                                      <a href="shop-homepage"><img src="/img/home/but10.jpg"></a>
                                  </div>
                                  <div class="info">
                                      <h4>BÚT MỰC TÍM</h4>
                                      <p>Bút bi gel hình thú cưng dễ thương - Mực đen - Vịt vàng/ Mèo xám/ Cún shiba - A416</p>
                                  </div>
                              </div>
                        </div>
                          <div class="swiper-slide">
                              <div class="product">
                                  <div class="themnail">
                                      <a href="shop-homepage"><img src="/img/home/but11.jpg"></a>
                                  </div>
                                  <div class="info">
                                    <h4>BÚT MỰC XANH</h4>
                                    <p>Bút bi nước khô nhanh Deli - 0.5mm - Bút viết thư pháp - Ống bút liền mực !</p>
                                </div>
                              </div>
                        </div>

                        <div class="swiper-slide">
                              <div class="product">
                                  <div class="themnail">
                                      <a href="shop-homepage"><img src="/img/home/but12.jpg"></a>
                                  </div>
                                  <div class="info">
                                    <h4>BÚT MỰC XÁM</h4>
                                    <p>Bút bi nước Deli - 0.5mm - Vỏ Đen/Trắng - 1 chiếc màu ngẫu nhiên !</p>
                                </div>
                              </div>
                        </div>
                          <div class="swiper-slide">
                              <div class="product">
                                  <div class="themnail">
                                      <a href="shop-homepage"><img src="/img/home/but13.jpg"></a>
                                  </div>
                                  <div class="info">
                                    <h4>BÚT MỰC ĐỎ</h4>
                                    <p>Bút dạ kính 2 đầu Deli - không xóa được, mực vĩnh cửu - Mực Đen/Xanh/Đỏ</p>
                                </div>
                              </div>
                        </div>
                        <div class="swiper-slide">
                              <div class="product">
                                  <div class="themnail">
                                      <a href="shop-homepage"><img src="/img/home/but16.jpg"></a>
                                  </div>
                                  <div class="info">
                                    <h4>BÚT MỰC TÍM</h4>
                                    <p>Bút dạ viết bảng trắng xóa được đỏ đen và xanh</p>
                                </div>
                              </div>
                        </div>
                        <div class="swiper-slide">
                              <div class="product">
                                  <div class="themnail">
                                      <a href="shop-homepage"><img src="/img/home/but15.jpg"></a>
                                  </div>
                                  <div class="info">
                                    <h4>BÚT MỰC TÍM</h4>
                                    <p>Bút dạ kính 2 đầu Deli - không xóa được, mực vĩnh cửu - Mực Đen/Xanh/Đỏ</p>
                                </div>
                              </div>
                        </div>
                  </div>
                 
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </section>
    
    <section>
        <div id="mochiStyle">	
            <div class="mochi-style-blog container">
                <div class="mochi-style-title"> 
                    <h2 style="font-family: 'Otomanopee One', sans-serif; color: #3e3737; ">BEST SELLER</h2>
                </div>
                <div class="mochi-style-slider row">
                    <div class="col-md-6">
                
                        <div class="item">
                            
                            <a href="shop-homepage/Bút"><img class="lazyload" src="/img/home/1.jpg"/></a>
                            <div class="post-info">
                                <h4><p>Bút màu Marker Touch Touchliit 6 loại hộp nhựa 30/40/60/80 màu</p>									</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item">
                            <a href="shop-homepage/Bút"><img class="lazyload" src="/img/home/cb2.jpg"/></a>
                            <div class="post-info">
                                <p>Bút màu marker kèm giấy thử màu thân tròn một đầu Deli - Marker </p>
                            </div>
                        </div>
                        <div class="item">
                            <a href="shop-homepage/Bút"><img class="lazyload" src="/img/home/cb3.jpg"/></a>
                            <div class="post-info">
                                <p>Bút màu nước 1.0mm Deli, 12 màu</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item">
                            <a href="shop-homepage/Bút"><img class="lazyload" src="/img/home/cb7.jpg"/></a>
                            <div class="post-info">
                                <p> Bút chì lục giác Deli - loại 2B/HB - 10 chiếc/hộp</p>
                            </div>
                        </div>
                        <div class="item">
                            <a href="shop-homepage/Bút"><img class="lazyload" src="/img/home/cb9.jpg"/></a>
                            <div class="post-info">
                                <p> Bút chì gỗ Deli - Họa tiết hoạt hình HB/2B!</p>								</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>		
    </section>
    <section>
        <div id="review" >
            <div class="container">
                <h2 style="font-family: 'Otomanopee One', sans-serif; color: #3e3737; ">BLOGGER</h2>
                <div class="row">
                    <div class="col-md-3 col-sm-2 col-6 col-xs-7">
                        <div class="blogger">
                            <a title="Blogger Image" href="#">
                                <img src="/img/home/da1.jpg">
                            </a>
                            <div class="info">
                                <a title="Name" href="#">Trần Linh Đa
                                </a><br>
                                <span>MSSV: 19521305</span> <br>
                                <span>Mochi-team: front-end</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-2 col-6 col-xs-5">
                        <div class="blogger">
                            <a title="Blogger Image" href="#">
                                <img src="/img/home/Huy1.jpg">
                            </a>
                            <div class="info">
                                <a title="Name" href="home">Lê Hữu Huy
                                </a><br>
                                <span>MSSV: 19521615</span> <br>
                                <span>Mochi-team: back-end</span>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-md-3 col-sm-2 col-6 col-xs-7">
                        <div class="blogger">
                            <a title="Blogger Image" href="#">
                                <img src="/img/home/Huong.jpg">
                            </a>
                            <div class="info">
                                <a title="Name" href="#">Nguyễn Thị Viết Hương
                                </a><br>
                                <span>MSSV: 19521595</span> <br>
                                <span>Mochi-team: back-end</span>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-md-3 col-sm-2 col-6 col-xs-5">
                        <div class="blogger">
                            <a title="Blogger Image" href="#">
                                <img src="/img/home/An.jpg">
                            </a>
                            <div class="info">
                                <a title="Name" href="#">Lê Thị Xuân An
                                </a><br>
                                <span>MSSV: 19521177</span> <br>
                                <span>Mochi-team: front-end</span>
                            </div>
                        </div>
                    </div>
            
                    
                </div>
            </div>
            
        </div>
    </section>

    
</main>